{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist"
  ],
  "env" : {
    "node" : true,
    "es6": true
  },
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["off"],
    "dot-notation": "off",
    "eqeqeq": [2, "allow-null"],
    "curly": ["warn", "all"],
    "brace-style": ["warn"],
    "prefer-arrow-callback": ["warn"],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "no-non-null-assertion": ["off"],
    "comma-spacing": ["error"],
    "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
    "no-trailing-spaces": ["warn"],
    "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}]
  }
}